*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
       margin:33px;
       font-family: verdana, arial, helvetica, sans-serif;
}

p,ul{
    font-size: 13px;
    line-height: 18px;
    display:block;
    margin:33px;
}

strong{
    font-weight: bold;
}

a:visited {
    color:#666;
}

#error_explanation h2{
    text-align:left;
    font-weight:bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin:-7px;
    margin-bottom: 0;
    background-color: #c00;
    color:#fff;
}

#error_explanation{
    width:450px;
    border:2px solid #c00;
    padding:7px;
    margin-bottom: 20px;
    padding-bottom: 0;
    background-color: #f0f0f0;
}

#notice{
    color:green;
}

#field_with_errors{
    padding:2px;
    background-color: #c00;
    display:table;
}